:root {
  --primary: #aba18f;
  --secondary: #5b6658;
  --background: #171717;
  --accent: #232323;
  --textlight: #FFFFFF;
  --textdark: #000000;
  --bordersoft: #d4d4d4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
  color: var(--textlight);
  transition: .3s ease-in-out;
  user-select: none;
  text-decoration: none;
}

::selection {
  background-color: #FFFFFF;
  color: #000000;
}

.flex-center-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-start-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.flex-start-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.flex-space-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#discount {
  height: 35px;
  text-align: center;
  line-height: 35px;
  font-weight: bold;
  background: radial-gradient(circle, var(--accent), var(--background));
}

#nav-wrap {
  position: absolute;
  top: 35px;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 120px;
}

#nav-wrap.nav-alt {
  top: 0px;
}

#nav {
  height: inherit;
}

.nav-color {
  background-color: var(--accent);
}

#nav-menu {
  list-style-type: none;
  gap: 50px;
}

.li-active {
  background: var(--primary);
  padding: 1px 12px;
  border-radius: 5px;
}

#nav-menu li:hover {
  transform: scale(1.1);
}

#nav-menu li a {
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 1px;
}

#nav-logo {
  pointer-events: none;
}

#nav-logo img {
  width: 130px;
  margin-top: 15px;
}

#cart, #wish {
  position: absolute;
  cursor: pointer;
  top: 40px;
  background-color: var(--primary);
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
}

#cart {
  right: 90px;
}

#wish {
  right: 30px;
}

#cart:hover, #wish:hover {
  transform: scale(1.05);
}

#hero-wrap {
  position: relative;
  background-image: url('../img/carpentry.jpg');
  background-attachment: fixed;
  background-size: cover;
  height: 920px;
  overflow: hidden;
}

#hero h1 {
  letter-spacing: 5px;
  font-weight: 800;
  font-size: 70px;
  color: var(--primary);
}

#hero h2 {
  font-weight: 400;
  font-size: 28px;
}

#hero-btn {
  height: 140px;
  width: 800px;
  margin-top: 10px;
  gap: 50px;
}

#hero-btn a {
  mask-image: radial-gradient(circle, white, black);
  -webkit-mask-image: -webkit-radial-gradient(circle, white, black);
  position: relative;
  border: 2px solid white;
  width: 250px;
  height: 80px;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
  line-height: 75px;
}

#hero-btn a:hover {
  color: var(--textdark);
  transform: scale(1.05);
  font-size: 18px;
}

.hero-btn-first:before, .hero-btn-second:before {
  content: '';
  position: absolute;
  transform: translateZ(0);
  top: 0;
  left: 0;
  background: var(--textlight);
  width: 130%;
  height: 100%;
  z-index: -1;
  transform-origin: 0 0;
  transition: transform .5s;
}

.hero-btn-first:before {
  transform: translateX(-100%) skewX(-30deg);
}

.hero-btn-second:before {
  transform: translateX(100%) skewX(30deg);
}

.hero-btn-first:hover:before {
  transform: translateX(0) skewX(-30deg);
}

.hero-btn-second:hover:before {
  transform: translateX(-15%) skewX(30deg);
}

@keyframes float {
  0% {
    bottom: 40px;
  }
  50% {
    bottom: 50px;
  }
  100% {
    bottom: 40px;
  }
}

#arrow {
  position: absolute;
  bottom: 40px;
  width: 40px;
  height: 40px;
  left: calc(50% - 20px);
  font-size: 30px;
  animation: 2s float ease-in-out infinite;
}


/**/
#daily-wrap {
  position: relative;
  height: 600px;
  background: linear-gradient(45deg, var(--textdark) 0%, var(--background) 45% 100%);
}

#daily-side {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 600px;
  background-color: var(--accent);
  background-image: linear-gradient(to right, var(--background) 1px, transparent 1px);
  background-size: 20px;
}

#daily-deal {
  position: relative;
  z-index: 1;
  height: 100%;
  gap: 200px;
}

#daily-image {
  position: relative;
  border-radius: 15px;
  cursor: pointer;
}

#daily-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
  pointer-events: none;
}

#daily-image:hover #daily-overlay {
  opacity: 1;
}

#daily-image img{
  border-radius: 15px;
  box-shadow: 0 0 0px 20px var(--background);
}

#daily-title {
  font-size: 35px;
}

#daily-discount, #daily-discount span {
  color: var(--primary);
}

#daily-info {
  width: 450px;
  gap: 10px;
}

#daily-contents {
  background-color: var(--accent);
  border-radius: 5px;
  padding: 10px;
  width: 450px;
}

#daily-btn-wrap {
  margin-top: 70px;
  width: 450px;
  gap: 30px;
}

#daily-btn {
  padding: 15px 50px;
  border-radius: 5px;
  background-color: var(--primary);
  cursor: pointer;
}

#daily-btn p {
  color: white;
}

#daily-price-wrap {
  gap: 30px;
  font-size: 22px;
}

#daily-price-wrap p:nth-child(1) {
  text-decoration: line-through;
}

#daily-price-wrap p:nth-child(2) {
  padding: 5px;
  background-color: var(--textlight);
  color: var(--textdark);
  border-radius: 5px;
}

/**/

#gallery-wrap {
  height: 1000px;
}

#gallery-header {
  height: 10%;
  width: 100%;
}

#gallery-header p {
  color: var(--textdark);
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 500;
}

.gallery-category {
  height: 40%;
  width: 1400px;
  gap: 60px;
}

.gallery-category p {
  color: var(--textdark);
  font-size: 30px;
}

.category-info {
  gap: 10px;
}

.line {
  width: 100px;
  height: 5px;
  border-radius: 5px;
  background-color: var(--accent);
}

.view-button {
  color: var(--textlight);
  padding: 15px 50px;
  border-radius: 5px;
  background-color: var(--primary);
}

.category-slider {
  width: 1000px;
  height: 300px;
  gap: 50px;
}

.item {
  position: relative;
  width: 300px;
  height: inherit;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid var(--bordersoft);
}

.item-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  background-color: var(--accent);
}

.i1 {
  background-image: url('../img/set-1.jpg');
  background-position: -70px -150px;
}

.i2 {
  background-image: url('../img/set-2.jpg');
  background-size: 400px;
  background-position: -50px -50px;
}

.i3 {
  background-image: url('../img/set-3.jpg');
  background-size: 400px;
  background-position: -50px -50px;
}

.i4 {
  background-image: url('../img/table-1.jpg');
  background-size: 320px;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

.i5 {
  background-image: url('../img/table-2.jpg');
  background-size: 320px;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

.i6 {
  background-image: url('../img/table-3.jpg');
  background-position: -90px -180px;
  background-repeat: no-repeat;
}

#about-wrap {
  height: 600px;
  background-color: var(--background);
}

#contact-wrap {
  height: 600px;
  background-color: var(--background);
}

#footer-wrap {
  height: 400px;
  background-color: var(--accent);
}