:root {
  --primary: #C29C6C;
  --secondary: #D1B490;
  --background: #171717;
  --accent: #232323;
  --textlight: #FFFFFF;
  --textdark: #000000;
  --bordersoft: #D7D7D7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
  color: var(--textlight);
  transition: .3s ease-in-out;
  user-select: none;
  text-decoration: none;
}

::selection {
  background-color: #FFFFFF;
  color: #000000;
}

.select {
  user-select: text;
}

.flex { display: flex; }
.col { flex-direction: column; }
.jc { justify-content: center; }
.ac { align-items: center; }
.jsb { justify-content: space-between; }
.js { justify-content: flex-start; }
.je { justify-content: flex-end; }
.as { align-items: flex-start; }
.ae { align-items: flex-end; }

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes float {
  0% {
    bottom: 40px;
  }
  50% {
    bottom: 50px;
  }
  100% {
    bottom: 40px;
  }
}

body {
  background-color: var(--background);
}

#wrapper {
  animation: 1s fade-in ease-in-out;
}

#pg-top {
  position: fixed;
  z-index: 10;
  bottom: 30px;
  right: 30px;
  height: 40px;
  background-color: var(--primary);
  border-radius: 50%;
  padding: 7px 13px;
  font-size: 20px;
}

#pg-top:hover {
  transform: scale(1.1);
}

#discount {
  height: 35px;
  text-align: center;
  line-height: 35px;
  letter-spacing: 1px;
  background: radial-gradient(circle, var(--accent), var(--background));
}

.separator {
  height: 100px;
  background-color: var(--secondary);
}

#nav-wrap {
  position: absolute;
  top: 35px;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 150px;
}

#nav-wrap.nav-alt {
  top: 0px;
}

#nav {
  height: inherit;
}

#nav-colored {
  height: inherit;
  background-color: var(--accent);
}

#nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 50px;
}

#nav-menu li {
  padding: 1px 12px;
}

.li-active {
  background: var(--primary);
  border-radius: 5px;
}

#nav-menu li:hover {
  transform: scale(1.1);
}

#nav-menu li a {
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 1px;
}

#nav-logo img {
  width: 130px;
  margin-top: 15px;
}

#cart {
  position: absolute;
  top: 55px;
  height: 40px;
  width: 40px;
  border-radius: 5px;
  right: 30px;
  padding: 8px 11px;
  background-color: var(--primary);
}

#cart:hover {
  transform: scale(1.05);
}

#hero-wrap {
  position: relative;
  background-image: url('../img/carpentry.jpg');
  background-attachment: fixed;
  background-size: cover;
  height: 920px;
  overflow: hidden;
}

#hero h1 {
  letter-spacing: 15px;
  font-weight: 800;
  font-size: 70px;
  color: var(--primary);
  text-align: center;
}

#h1-span {
  color: var(--secondary);
}

#h1-sub {
  display: block;
  color: var(--textlight);
  font-weight: 400;
  font-size: 28px;
  letter-spacing: 0px;
}


#hero h2 {
  font-weight: 400;
  font-size: 28px;
}

#hero-btn {
  height: 140px;
  width: 800px;
  margin-top: 10px;
  gap: 40px;
}

#hero-btn a {
  mask-image: radial-gradient(circle, var(--textlight), var(--textdark));
  -webkit-mask-image: -webkit-radial-gradient(circle, var(--textlight), var(--textdark));
  position: relative;
  border: 2px solid var(--textlight);
  background-color: rgba(0, 0, 0, 0.3);
  width: 250px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 15px;
  height: 80px;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
  line-height: 75px;
}

#hero-btn a:first-child {
  background-color: rgba(194, 156, 108, 0.3);
}

#hero-btn a:hover {
  color: var(--textdark);
  transform: scale(1.05);
  font-size: 18px;
}

.hero-btn-first:before, .hero-btn-second:before {
  content: '';
  position: absolute;
  transform: translateZ(0);
  top: 0;
  left: 0;
  background: var(--textlight);
  width: 130%;
  height: 100%;
  z-index: -1;
  transform-origin: 0 0;
  transition: transform .5s;
}

.hero-btn-first:before {
  transform: translateX(-100%) skewX(-30deg);
}

.hero-btn-second:before {
  transform: translateX(100%) skewX(30deg);
}

.hero-btn-first:hover:before {
  transform: translateX(0) skewX(-30deg);
}

.hero-btn-second:hover:before {
  transform: translateX(-15%) skewX(30deg);
}

#arrow {
  position: absolute;
  bottom: 40px;
  width: 40px;
  padding: 9px;
  height: 40px;
  left: calc(50% - 20px);
  font-size: 30px;
  animation: 2s float ease-in-out infinite;
}

#daily-wrap {
  position: relative;
  height: 700px;
  overflow: hidden;
  background: linear-gradient(45deg, var(--textdark) 0%, var(--background) 45% 100%);
}

#daily-side {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 600px;
  background-color: var(--accent);
  background-image: linear-gradient(to right, var(--background) 2px, transparent 1px);
  background-size: 20px;
}

#daily-deal {
  position: relative;
  z-index: 1;
  height: 100%;
  gap: 200px;
}

#daily-image {
  position: relative;
  border-radius: 15px;
  height: 400px;
}

#daily-image img {
  height: 100%;
}

#daily-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
  pointer-events: none;
}

#daily-overlay p {
  font-size: 24px;
  padding: 180px 170px;
  letter-spacing: 2px;
}

#daily-image:hover #daily-overlay {
  opacity: 1;
}

#daily-image:hover #daily-overlay p {
  margin-left: 30px;
}

#daily-image img{
  border-radius: 15px;
  box-shadow: 0 0 0px 20px var(--background);
}

#daily-title {
  font-size: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#daily-discount, #daily-discount span {
  color: var(--primary);
}

#daily-info {
  width: 450px;
  gap: 10px;
}

#daily-contents {
  background-color: var(--accent);
  border-radius: 5px;
  padding: 10px;
  width: 450px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
}

.link-button {
  color: var(--textlight);
  padding: 15px 50px;
  border-radius: 5px;
  background-color: var(--primary);
}

.link-button:hover {
  transform: scale(1.05);
}

#daily-btn-wrap {
  margin-top: 70px;
  width: 450px;
  gap: 30px;
}

#daily-btn a {
  letter-spacing: 2px;
  box-shadow: 5px 5px var(--bordersoft);
}

#daily-btn a:hover {
  padding: 15px 60px;
}

.price-wrap {
  gap: 10px;
  font-size: 22px;
}

.price-wrap p:nth-child(1) {
  text-decoration: line-through;
  color: var(--secondary);
}

.price-wrap p:nth-child(2) {
  padding: 5px;
  background-color: var(--accent);
  color: var(--textlight);
  border-radius: 5px;
}

#gallery-wrap {
  height: 1100px;
  overflow: hidden;
  background-color: var(--textlight);
}

#gallery-header {
  height: 20%;
  width: 100%;
  gap: 10px;
}

#gallery-header h3 {
  color: var(--textdark);
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 500;
}

.gallery-category {
  height: 32%;
  width: 1400px;
  gap: 60px;
}

.selected-text {
  color: var(--textdark);
  font-size: 22px;
  margin-top: 40px;
  text-align: center;
  width: 1300px;
}

.selected-text a {
  color: var(--primary);
  font-weight: bold;
}

.selected-text strong {
  color: var(--textdark);
}

.category-info p {
  color: var(--textdark);
  font-size: 22px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.gallery-category p {
  color: var(--textdark);
}

.category-info {
  gap: 10px;
}

.category-info a {
  background-color: var(--primary);
  box-shadow: 5px 5px var(--accent);
}

.line {
  width: 200px;
  height: 4px;
  border-radius: 5px;
  background-color: var(--primary);
  pointer-events: none;
}

.category-slider {
  width: 1000px;
  height: 300px;
  gap: 50px;
}

.category-slider a {
  display: block;
  width: 300px;
  height: 300px;
}

.item {
  position: relative;
  width: 300px;
  height: inherit;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid var(--bordersoft);
}

.item:hover {
  transform: scale(1.05);
}

.item-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  background-color: var(--bordersoft);
}

.item-info p {
  text-align: center;
}

.item-info p:nth-child(1) {
  font-size: 14px;
  text-transform: uppercase;
  padding: 10px;
}

.item-info p:nth-child(2) {
  color: var(--textlight);
  font-size: 18px;
  padding: 14px;
  background-color: var(--accent);
}

.i1, .i2, .i3, .i4, .i5, .i6 {
  background-image: url('../img/favorite-picks.jpg');
}
.i1 {
  background-position: 0px 0px;
}

.i2 {
  background-position: 0px -320px;
}

.i3 {
  background-position: 0px -620px;
}

.i4 {
  background-position: 0px -920px;
}

.i5 {
  background-position: 0px -1220px;
}

.i6 {
  background-position: 0px -1500px;
}

#about-wrap {
  height: 1000px;
  overflow: hidden;
  background-color: var(--background);
}

#about-form {
  width: 400px;
}

#about-form p {
  font-size: 45px;
  font-weight: bold;
  color: var(--secondary);
  letter-spacing: 2px;
  margin-bottom: 10px;
  text-align: center;
}

#about-form form label {
  margin: 20px 0px 10px 10px;
}

#about-form input[type="text"], #about-form input[type="email"] {
  padding: 10px 250px 10px 10px;
  width: 100%;
  border-radius: 25px;
  font-size: 14px;
  border: 1px solid var(--accent);
  color: var(--textdark);
  outline: none;
}

#about-form input[type="text"]::selection, #about-form form textarea::selection, #about-form input[type="email"]::selection {
  background-color: var(--textdark);
  color: var(--textlight);
}

#about-form form textarea {
  border-radius: 25px;
  padding: 10px;
  width: 100%;
  height: 100px;
  outline: none;
  color: var(--textdark);
  font-size: 14px;
  margin-bottom: 25px;
  resize: none;
}

#about-form input[type="submit"] {
  margin: 40px auto 0px;
  padding: 15px 80px;
  border: 1px solid var(--accent);
  background-color: var(--secondary);
  border-radius: 10px;
  color: var(--textdark);
  font-size: 16px;
  letter-spacing: 1px;
  cursor: pointer;
}

#about-form input[type="submit"]:hover {
  background-color: var(--primary);
  padding: 15px 85px;
}

#about-info {
  width: 850px;
}

#about-text {
  display: block;
  width: 600px;
  text-align: justify;
  font-size: 20px;
}

#about-header {
  font-size: 45px;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

#about-info .line {
  margin-bottom: 90px;
}

#benefit-wrap {
  margin-top: 100px;
  width: 600px;
}

.benefit {
  text-align: center;
}

.benefit span {
  font-size: 40px;
  margin-bottom: 15px;
  color: var(--secondary);
}

#benefit-wrap .benefit:nth-child(2) span {
  color: var(--primary);
}

#benefit {
  text-align: center;
}

#footer-wrap {
  height: 450px;
  overflow: hidden;
  background-color: var(--accent);
}

footer {
  width: 1400px;
  height: inherit;
}

#footer-primary {
  width: inherit;
  height: 300px;
  margin-top: 50px;
}

#footer-secondary {
  width: inherit;
  height: 50px;
  margin-top: 30px;
}

#footer-secondary p {
  letter-spacing: 1px;
  font-size: 14px;
}

#social {
  width: 200px;
}

#social span {
 font-size: 22px;
 margin-right: 16px;
}

#social a span:hover {
  transform: scale(1.1);
}

.f2 ul li:nth-child(2) {
  pointer-events: none;
}

.f2:nth-child(3) ul li:first-child {
  color: var(--textlight);
}

.f2:nth-child(3) ul li .line {
  background-color: var(--textlight);
}

.f1 p:first-child {
  font-size: 32px;
  letter-spacing: 2px;
  font-weight: bold;
  color: var(--primary);
}

.f1 p:nth-child(2) {
  margin-bottom: 90px;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.f1 a{
  border: 2px solid var(--textlight);
  text-align: center;
  padding: 20px 45px 20px 65px;
  border-radius: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.f1 a:hover {
  background-color: var(--textlight);
  color: var(--accent);
}

.f1 a:hover .contact-icon {
  color: var(--accent);
}

.f1 p span {
  color: var(--secondary);
}

.f1 a span {
  margin-left: 20px;
}

.f2 ul {
  list-style-type: none;
}

.ft-active a {
  color: var(--primary);
}

.f2 ul li span {
  margin-right: 12px;
}

.f2 ul li:first-child {
  color: var(--secondary);
  letter-spacing: 1px;
  font-size: 22px;
}

.f2 ul li:hover {
  margin-left: 10px;
}

.f2 ul li:first-child:hover {
  margin-left: 0px;
}

.f2 ul li .line {
  margin-bottom: 50px;
}

.f2 ul li {
  margin-bottom: 15px;
}

#author-wrap {
  position: relative;
  height: 100vh;
  background-color: var(--background);
  background-image: url('../img/author-background.jpg');
  background-size: cover;
}

#author-content {
  margin-top: 150px;
  box-shadow: 0px 0px 35px 2px var(--accent);
}

#author-wrap img {
  border-radius: 10px 0px 0px 10px;
  filter: grayscale(0.2);
  height: 500px;
}

#author-info {
  border-radius: 0px 10px 10px 0px;
  height: 500px;
  width: 500px;
  background-color: var(--secondary);
}

#author-title {
  width: 400px;
  height: 90px;
  background-color: var(--accent);
  border-radius: 10px;
  font-size: 20px;
}

.author-header {
  font-size: 28px;
  color: var(--textlight);
}

#author-text {
  display: block;
  width: 400px;
  margin-top: 50px;
  text-align: justify;
  color: var(--textdark);
}

#message-wrap {
  position: relative;
  height: 100vh;
}

#msg-confirm {
  position: absolute;
  text-align: center;
  width: 600px;
  height: 200px;
  left: calc(50% - 300px);
  top: calc(50% - 200px);
}

#msg-confirm img {
  width: 200px;
}

#msg-confirm p {
  font-size: 30px;
  margin-bottom: 40px;
}

#msg-confirm a {
  background-color: var(--primary);
  font-size: 16px;
  letter-spacing: 2px;
  padding: 10px 50px;
  border-radius: 10px;
}

#msg-confirm a:hover {
  padding: 10px 60px;
}

#daily-product {
  margin-top: 150px;
}

#sets-wrap {
  background-color: var(--textlight);
  overflow: hidden;
}

.sets-holder {
  width: 1200px;
  margin: 0 auto;
}

#sets-wrap h2 {
  font-size: 40px;
  padding: 60px 0px;
  color: var(--accent);
  text-align: center;
  letter-spacing: 1px;
}

.furniture-small-group {
  display: flex;
  justify-content: space-between;
  height: 400px;
  width: 100%;
}

.furniture-small {
  width: 32%;
}

.furniture-big {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 75px;
}

.furniture-big-img {
  height: 400px;
  width: 790px;
  background-image: url('../img/furniture-big.jpg');
  background-size: cover;
  border-radius: 10px;
  border: 1px solid var(--bordersoft);
}

.furniture-small-img {
  background-image: url('../img/furniture-sets.jpg');
  background-size: cover;
  width: 100%;
  height: 220px;
  border-radius: 10px;
  border: 1px solid var(--bordersoft);
}

.furniture-big-info p {
  color: var(--accent);
}

.furniture-big-info a {
  padding: 10px 160px;
}

.furniture-big-info a:hover {
  background-color: var(--secondary);
}

.furniture-title {
  font-size: 28px;
}

.furniture-big-contents {
  margin-top: 20px;
  border-radius: 10px;
  background-color: var(--accent);
  margin-bottom: 20px;
}

.furniture-big-info .price-wrap {
  margin-bottom: 80px;
}

.furniture-big-contents p {
  padding: 10px;
  font-size: 15px;
  color: var(--textlight);
}

.furniture-small-order {
  margin-top: 30px;
  width: 100%;
}

.furniture-small-order a {
  padding: 8px 30px;
}
.furniture-small-order .price-wrap {
  font-size: 16px;
}

.furniture-small-text {
  margin-top: 5px;
  font-size: 20px;
}

.furniture-small-info p {
  color: var(--accent);
}

.fu1 {
  background-position: 0px -2750px;
}

.fu2 {
  background-position: 0px -540px;
}

.fu3 {
  background-position: 0px -800px;
}

.fu4 {
  background-position: 0px -1550px;
}

.fu5 {
  background-position: 0px -400px;
}

.fu6 {
  background-position: 0px -2700px;
}

.fu7 {
  background-position: 0px -3350px;
}

.fu8 {
  background-position: 0px -1810px;
}

.fu9 {
  background-position: 0px -4350px;
}

#out-of-stock {
  height: 500px;
  width: 100%;
  background-color: var(--background);
}

.sets-holder{
  margin-bottom: 50px;
}

.furniture-medium-group {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.furniture-medium {
  width: 48%;
}

.furniture-medium-img {
  background-image: url('../img/furniture-sets.jpg');
  background-size: cover;
  width: 100%;
  height: 350px;
  border-radius: 10px;
  border: 1px solid var(--bordersoft);
}

#contact-wrapper {
  height: 950px;
}

#contact-form {
  width: 1200px;
  margin-top: 250px;
}

#google-map iframe {
  border-radius: 25px;
  width: 40rem;
  height: 35rem;
  filter: grayscale(1);
}

#google-map iframe:hover {
  filter: grayscale(0);
}